*{
    margin: 0;
    padding: 0;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(241, 215, 65);
    position: fixed;
    font-family: 'Noto Sans', sans-serif;      
    /* font: 1.2em "Fira Sans", sans-serif; */
}

.nav-list {
    display: flex;
    list-style-type: none;
    font-size: 1rem;
    font-weight: 300;
}

.nav-list a {
    display: block;
    font-size: 1.8rem;
    padding: 2rem;
    text-decoration: none;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(196, 109, 109);
    font-family: 'Gotu', sans-serif;

}

h1 {
    color: #000;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    margin: 1rem;
    
}

h3 {
    color: #000;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    
}

#project-list {
    display: flex;
    justify-content: space-around;
    font-family: 'Work Sans', sans-serif;
}

#contact {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 5.5rem;
    flex-wrap: wrap;
    font-family: 'Work Sans', sans-serif;
}

#contact a {
    text-decoration: none;
    margin: 1rem;
    font-size: small;
}

a {
text-decoration: none;
}

i {
    font-size: 2rem;
}

footer.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 60px;
    background-color: darksalmon;
    color: #fff;
}


/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  