:root {
box-sizing: border-box;
background-image: url("../images/sky.jpeg");
}

.container {
    display: flex;
}

.nav {
    border: solid 2px white;
    padding-right: 1.2rem;

}

a > img {
height: 14em;
margin: 4px;
}

button {
    height: 4rem;
    border-radius: 10px;
    font-size: larger;
    background-color:  #696868;
    color: whitesmoke;
    font-weight: 500;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    color: whitesmoke;
    justify-content: center;
    display: flex;
    font-family: 'Noto Sans', sans-serif;
}
