:root {
box-sizing: border-box;
background-image: url("../images/sky.jpeg");
}

.container {
    display: flex;
}

.nav {
    border: solid 2px white;
    padding-right: 1.2rem;
}

.click {
    display: flex;
    justify-content: center;
    padding: 5px;
}

a > img {
height: 14em;
margin: 4px;
}

button {
    height: 4rem;
    border-radius: 10px;
    font-size: larger;
    background-color:  #696868;
    color: rgb(252, 240, 240);
    font-weight: 500;
    justify-content: center;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 8px;
}

#maleButton{
    transition: background-color 2s, transform 1s;
    background-color:  #747C81;  /*  #746C6B */
}

#maleButton:hover{
    background-color: #424242;
    transform: rotateX(35deg);
}

#femaleButton{
    transition: background-color 2s, transform 1s;
    background-color: #747C81; /* #1C477F; */ 
}

#femaleButton:hover{
    background-color: #424242;
    transform: rotateX(35deg);
}

#otherButton{
    transition: background-color 2s, transform 1s;
    background-color: #747C81; /* #1C477F; */ 
}

#otherButton:hover{
    background-color: #424242;
    transform: rotateX(35deg);
}


h1 {
    color: whitesmoke;
    justify-content: center;
    display: flex;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 45px;
    font-weight: 200;
}

