:root {
box-sizing: border-box;
background-color: beige;
}

.container {
    display: flex;
}

.nav {
    border: solid 2px black;
    padding-right: 1.2rem;
}

a > img {
height: 15em;
margin: 4px;
}

button {
    height: 4rem;
    border-radius: 10px;
    font-size: larger;
    background-color:  #a7a7a7;
    color: whitesmoke;
    font-weight: 500;
}

