:root {
    box-sizing: border-box;
    background-image: url("../images/sky.jpeg");
    background-attachment: fixed;
}

#main {
    margin-left: 120px;
    padding: 10px;
}

#main img {
   border-radius: 20px;
   border: thick double rgb(45, 77, 126);
   box-shadow: 0 5px 12px -2px rgba(255, 255, 255, 0.651);
}

header.title {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    padding: 1.1rem;
    font-family: 'Bangers', cursive;
    font-size: 55px;
}

.container {
    display: flex;
    padding-left: 20px;
}

.nav {
    border: ridge 10px rgb(89, 132, 197);
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.363); 
    background-blend-mode: soft-light;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Noto Sans TC', sans-serif; */
}

a {
    text-decoration: none;
    font-size: 1.25 rem;
    box-shadow: 0 5px 12px -2px rgb(40, 45, 53);
}

li {
    list-style-type: none;
    color: black;
    transition-property: text-shadow;
    transition-timing-function: ease-in-out;
}

li:not(:last-child) {
    margin-right:12px;
}

li:hover, li:focus {
    text-shadow:  5px 0 7px rgb(5, 103, 248);
}

/* ul.navlist {
    color: black;
    transition: color 2s;
}

ul.navlist:hover {
    color: #1C477F;
} */

div.card {
    border-radius: 6px;
    padding: 0.75rem 1rem;
    box-shadow: 10px, 5px, 5px grey;
}

h2.dialogMessage{
    font-size: 21px;
    font-weight: 500;

}

footer {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    padding: 1.1rem;
    margin-top: 1.1rem;
}

nav:hover,
nav:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 .5em 1em 1em rgb(247, 232, 151);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 1px 2px 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 1px 2px 0  var(--hover);
  }
}
  